<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apeptodaygroep4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mario"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mariohead"
        android:supportsRtl="true"
        android:theme="@style/Theme.APEPToDayGroep4">
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".LoginScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>